@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body{
  color:#394867;
  font-size: 20px;
  font-weight: 300px;
}

h1, h2, h3, h4, h5, h6 {
  color: #14274E;
}

.jumbotron {
  background-color: #f1f6f9;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/* font size min 14px and no lighter than a font-weight of 300. */


/* colour scheme and  contrast Light, modern colours. The prime focus is the content so nothing too distracting. This is a good example: https://colorhunt.co/palette/212984
#14274E for Headings (H1-H7)
#394867 for Body Text */

/* contrast level ontrast Levels - The above colour scheme works well and passes WCAG's recommended contrast ratio. */
